/* Header part */
*{
    margin: 0;

}
.main{
    background-image: url('../styles/images/donation7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* height: 669px; */
   

    
    
}
.header1{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 174px;
    color: #FFFFFF;
    line-height: 79px;
    padding-left: 307px;
    padding-right: 307px;
    font-family: 'Inter';
}
.title1{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 374px 30px 375px;
    font-family: 'Poppins';
    line-height: 28px;
    
}
.btn1{
    background: #FF5959;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20.5px;
    align-items: center;
    margin-left: 700px;
    line-height: 24px;
    color: #FFFFFF;
    
}

/* Donate Today */
.sub-title{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    padding-top: 130px;
    padding-left: 568px;
    padding-right: 568px;
    padding-bottom: 20px;
}
.description{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin: 2px 374px 50px 375px;
    
}
ul li{
    display: flex;
    display: inline;

}
li:first-child{
    margin-left: 450px;
    
}

.btn2{
    background: #FAFAFA;
    border-radius: 5px;
    margin-right: 22px;
    padding: 42px 25px 43px 24px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
}
.btn2-primary{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    margin-right: 22px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding: 42px 25px 43px 24px;
    color: #FF5959;
}
