/* Header part */
*{
    margin: 0;
    padding-bottom: 337px;
    padding-top: 0;

}
.main{
    background-image: url('../styles/images/donation7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* height: 669px; */
   

    
    
}
.header1{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 174px;
    color: #FFFFFF;
    line-height: 79px;
    padding-left: 307px;
    padding-right: 307px;
    font-family: 'Inter';
}
.title1{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 374px 30px 375px;
    font-family: 'Poppins';
    line-height: 28px;
    
}
.btn1{
    background: #FF5959;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20.5px;
    align-items: center;
    margin-left: 900px;
    line-height: 24px;
    color: #FFFFFF;
}